#### Mann – Whitney U Testi
- Mann-Whitney U testi, iki bağımsız örneklem arasındaki medyan farklarını test etmek için kullanılan parametrik olmayan bir testtir. Bu test, verilerin normal dağılım göstermediği durumlarda veya örneklem boyutlarının küçük olduğu durumlarda kullanılabilir. Mann-Whitney U testi, iki grubun dağılımlarının aynı olup olmadığını belirler.

**Soru:** Erkek ve kadın bireyler arasında serum kolesterol seviyeleri açısından anlamlı bir fark olup olmadığını inceleyin.
- Null Hipotez (H₀): Erkek ve kadın bireyler arasında serum kolesterol seviyeleri açısından anlamlı bir fark yoktur.
- Alternatif Hipotez (H₁): Erkek ve kadın bireyler arasında serum kolesterol seviyeleri açısından anlamlı bir fark vardır.

In [22]:
# Veri setini yükleme (Kaggle üzerinden indirilen heart disease veri seti)
import pandas as pd
from scipy.stats import mannwhitneyu
df = pd.read_csv('heart_disease_uci.csv')
df=df.dropna()
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [26]:
df.isnull().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [16]:
df["num"].nunique()

5

In [42]:
# Kalp hastalığı olan ve olmayan bireylerin yaş gruplarını ayırma
male_chol = df[df['sex'] == 'Male']['chol']
female_chol = df[df['sex'] == 'Female']['chol']

Mann-Whitney U Testi Statistiği: 7852.0
P-Değeri: 0.006728094084218456

In [46]:
# Mann-Whitney U testi uygulama
stat, p_value = mannwhitneyu(male_chol, female_chol)
print('Mann-Whitney U Testi Statistiği:', stat)
print('P-Değeri:', p_value)
alpha = 0.05
if p_value < alpha:
    print("Null Hipotez reddedilir; Erkek ve kadın bireyler arasında serum kolesterol seviyeleri açısından anlamlı bir fark vardır.")
else:
    print("Null Hipotez reddedilemez; Erkek ve kadın bireyler arasında serum kolesterol seviyeleri açısından anlamlı bir fark yoktur.")

Mann-Whitney U Testi Statistiği: 7852.0
P-Değeri: 0.006728094084218456
Null Hipotez reddedilir; Erkek ve kadın bireyler arasında serum kolesterol seviyeleri açısından anlamlı bir fark vardır.

#### Wilcoxon Signed Rank

**Soru:** Sürpriz bir sınav yapılmış ve 6 öğrencinin notları aşağıdaki gibi verilmiştir.Bir aylık uygulama süresi verildikten sonra aynı sınav tekrar yapılmış ve aşağıdaki puanlar alınmıştır.Parametrik olmayan bir test kullanarak elde edilen notlarda bir fark olup olmadığını belirleyin. Anlamlılık düzeyi 0,05'tir.

In [48]:
import numpy as np
from scipy.stats import wilcoxon

In [50]:
test_1 = np.array([8, 6, 4, 2, 5, 6])
test_2 = np.array([6, 8, 8, 9, 4, 10])

In [54]:
# İki test arasındaki farkları hesaplayalım
farklar = test_2 - test_1
# Wilcoxon Signed Rank Testini uygulayalım
statistic, p_value = wilcoxon(farklar)
print(f"Test İstatistiği (W2): {statistic}")
print(f"p-değeri: {p_value}")
alpha = 0.05
if p_value > alpha:
    print("H0 hipotezini reddedemiyoruz, iki test arasındaki fark istatistiksel olarak anlamlı değildir.")
else:
    print("H0 hipotezini reddediyoruz, iki test arasındaki fark istatistiksel olarak anlamlıdır.")

Test İstatistiği (W2): 3.5
p-değeri: 0.21875
H0 hipotezini reddedemiyoruz, iki test arasındaki fark istatistiksel olarak anlamlı değildir.

- W2 > 2 olduğundan, sıfır hipotezi reddedilemez ve iki testin puanları arasında fark olmadığı sonucuna varılabilir.

#### 3)Friedman Testi

In [58]:
import numpy as np
from scipy.stats import friedmanchisquare
import pandas as pd

**Soru :** 7 rastgele kişiye 3 farklı ilaç verildi ve her kişi için ilaçlara karşılık gelen tepki süresi not edildi. Tüm 3 ilacın aynı olasılık dağılımına sahip olduğu iddiasını %5 önem düzeyinde test edin.

- **H0 :** Her üç ilacın da olasılık dağılımı aynıdır. M A = M B = M C 
- **H1 :** Bunlardan en az ikisi birbirinden farklıdır.

In [60]:
Alfa = 0.05

In [62]:
y = np.array([[1.24, 1.50, 1.62],
              [1.71, 1.85, 2.05],
              [1.37, 2.12, 1.68],
              [2.53, 1.87, 2.62],
              [1.23, 1.34, 1.51],
              [1.94, 2.33, 2.86],
              [1.72, 1.43, 2.86]])

In [68]:
# Perform the Friedman test
stat,p = friedmanchisquare(y[:, 0], y[:, 1], y[:, 2])

# Display the result
print(f'Statistics : {stat}')
print(f'P value : {p}')
# Compare p-value with alpha
if p <= alpha:
    print(f"Reject the null hypothesis (p-value: {p:.3f} ≤ α: {alpha})")
else:
    print(f"Fail to reject the null hypothesis (p-value: {p:.3f} > α: {alpha})")

Statistics : 8.857142857142847
P value : 0.011931522535756207
Reject the null hypothesis (p-value: 0.012 ≤ α: 0.05)

In [36]:
# p-değerinin anlamlılık düzeyinden (%5) küçük olması olasılık dağılımında anlamlı farklılıklar olduğu sonucuna varılabilir.

#### Kruskal-Wallis Testi

**Soru:** Araştırma ve Geliştirme ekibinin üç farklı motor yağı uygulamasının otomobillerin kilometre performansında farka yol açıp açmadığını belirlemek istiyor. Ekip aynı markanın 15 otomobilini seçmeye ve bunları üçlü gruplara ayırmaya karar verdi (her grupta 5 otomobil). Şimdi her grup tam olarak bir motor yağıyla katkılanıyor (üç motor yağı da kullanılıyor). Daha sonra aynı pistte 20 kilometre yol kat etmelerine izin veriliyor ve yolculukları sona erdiğinde kilometre not ediliyor.

In [70]:
data_group1 = [7, 9, 12, 15, 21]
data_group2 = [5, 8, 14, 13, 25]
data_group3 = [6, 8, 8, 9, 5]
alpha=0.05

In [72]:
# Import libraries
from scipy import stats
# Conduct the Kruskal-Wallis Test 
result = stats.kruskal(data_group1, data_group2, data_group3)
print(result)
if result.pvalue <= alpha:
    print(f"Reject the null hypothesis (p-value: {result.pvalue:.3f} ≤ α: {alpha})")
else:
    print(f"Fail to reject the null hypothesis (p-value: {result.pvalue:.3f} > α: {alpha})")

KruskalResult(statistic=3.492418772563175, pvalue=0.17443390338074047)
Fail to reject the null hypothesis (p-value: 0.174 > α: 0.05)

In [ ]:
#Bu örnekte, test istatistiği 3,492'ye eşit çıkıyor ve buna karşılık gelen p değeri 0,174. P değeri 0,05'ten az olmadığı için, arabaların ortalama kilometre performansının üç grup için de aynı olduğu şeklindeki sıfır hipotezini reddedemeyiz.